In [1]:
import pandas as pd
import numpy as np

# Clean data

In [4]:
df = pd.read_csv('UCI_Credit_Card.csv')
df = df.drop(columns=['ID','PAY_0','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6'])
df = df.rename(columns={"default.payment.next.month": "Default"})
df.head(5)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,Default
0,20000.0,2,2,1,24,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,120000.0,2,2,2,26,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,90000.0,2,2,2,34,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,50000.0,2,2,1,37,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,50000.0,1,2,1,57,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [5]:
# re_values columns
sex_condition = [df['SEX']==1,df['SEX']==2]
sex_values = ['Male','Female']
df['Sex'] = np.select(sex_condition, sex_values)

edu_condition = [df['EDUCATION']==1,df['EDUCATION']==2,df['EDUCATION']==3,
                (df['EDUCATION']==4)|(df['EDUCATION']==0)|(df['EDUCATION']==5)|(df['EDUCATION']==6)]
edu_values = ['Graduate','Undergraduate','HighSchool','Others']
df['Edu'] = np.select(edu_condition, edu_values)

marry_condition = [df['MARRIAGE']==1,df['MARRIAGE']==2,
                (df['MARRIAGE']==3)|(df['MARRIAGE']==0)]
marry_values = ['Married','Single','Others']
df['Marriage'] = np.select(marry_condition, marry_values)

df = df.drop(columns=['SEX','EDUCATION','MARRIAGE'])

# get dummies
encoder_df = pd.get_dummies(df, columns = ['Sex','Edu','Marriage'])
encoder_df

,LIMIT_BAL,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,...,Default,Sex_Female,Sex_Male,Edu_Graduate,Edu_HighSchool,Edu_Others,Edu_Undergraduate,Marriage_Married,Marriage_Others,Marriage_Single
0,20000.0,24,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,...,1,1,0,0,0,0,1,1,0,0
1,120000.0,26,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,...,1,1,0,0,0,0,1,0,0,1
2,90000.0,34,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,...,0,1,0,0,0,0,1,0,0,1
3,50000.0,37,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,...,0,1,0,0,0,0,1,1,0,0
4,50000.0,57,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,...,0,0,1,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000.0,39,188948.0,192815.0,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,...,0,0,1,0,1,0,0,1,0,0
29996,150000.0,43,1683.0,1828.0,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,...,0,0,1,0,1,0,0,0,0,1
29997,30000.0,37,3565.0,3356.0,2758.0,20878.0,20582.0,19357.0,0.0,0.0,...,1,0,1,0,0,0,1,0,0,1
29998,80000.0,41,-1645.0,78379.0,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,...,1,0,1,0,1,0,0,1,0,0
29999,50000.0,46,47929.0,48905.0,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,...,1,0,1,0,0,0,1,1,0,0

In [6]:
from sklearn.preprocessing import MinMaxScaler
scale= MinMaxScaler()
# standardization of dependent variables
scaled_data = scale.fit_transform(encoder_df.drop(columns=['Default'])) 
# x values 
X_data = pd.DataFrame(scaled_data)
X_data.columns = encoder_df.drop(columns=['Default']).columns
X_data

,LIMIT_BAL,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,...,PAY_AMT6,Sex_Female,Sex_Male,Edu_Graduate,Edu_HighSchool,Edu_Others,Edu_Undergraduate,Marriage_Married,Marriage_Others,Marriage_Single
0,0.010101,0.051724,0.149982,0.069164,0.086723,0.160138,0.080648,0.260979,0.000000,0.000409,...,0.000000,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,0.111111,0.086207,0.148892,0.067858,0.087817,0.163220,0.084074,0.263485,0.000000,0.000594,...,0.003783,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.080808,0.224138,0.172392,0.079532,0.093789,0.173637,0.095470,0.272928,0.001738,0.000891,...,0.009458,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.040404,0.275862,0.188100,0.111995,0.113407,0.186809,0.109363,0.283685,0.002290,0.001199,...,0.001892,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
4,0.040404,0.620690,0.154144,0.071601,0.106020,0.179863,0.099633,0.275681,0.002290,0.021779,...,0.001284,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,0.212121,0.310345,0.313716,0.249208,0.200746,0.243036,0.111622,0.273259,0.009730,0.011875,...,0.001892,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
29996,0.141414,0.379310,0.148008,0.067955,0.088267,0.168596,0.085794,0.260979,0.002103,0.002094,...,0.000000,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
29997,0.020202,0.275862,0.149674,0.069405,0.087859,0.179805,0.101057,0.275854,0.000000,0.000000,...,0.005864,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
29998,0.070707,0.344828,0.145064,0.140604,0.128239,0.209850,0.092403,0.298591,0.098334,0.002024,...,0.003412,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
29999,0.040404,0.431034,0.188931,0.112633,0.113667,0.194553,0.112803,0.272746,0.002379,0.001069,...,0.001892,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [7]:
X_data.columns

Index(['LIMIT_BAL', 'AGE', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
       'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'Sex_Female', 'Sex_Male',
       'Edu_Graduate', 'Edu_HighSchool', 'Edu_Others', 'Edu_Undergraduate',
       'Marriage_Married', 'Marriage_Others', 'Marriage_Single'],
      dtype='object')

In [8]:
Y_data = encoder_df['Default']

# Train

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_data, Y_data, test_size = 0.20, random_state = 0)

In [10]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

y_pred  =  classifier.predict(X_test)

from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
ac = accuracy_score(y_test,y_pred)

print(ac)

0.343

In [11]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=1000)
classifier.fit(X_train, y_train)

y_pred  =  classifier.predict(X_test)

from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
ac = accuracy_score(y_test,y_pred)

print(cm)
print(ac)

[[4703    0]
 [1297    0]]
0.7838333333333334

In [12]:
import pickle
pickle.dump(classifier, open('model.pkl', 'wb'))